* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather Sans";
  color: #0f234c;
}
h3 {
  font-family: "Roboto";
}
.mobile-hide {
  display: block;
}
.mobile-show {
  display: none !important;
}

header .bottom-header {
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
}
.bottom-header.stickytop {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 9999;
  top: 0;
  box-shadow: 0px 0px 37px -8px rgb(0 0 0 / 37%);
}
.logo img {
  margin-right: 5rem;
  height: auto;
  width: auto;
}
nav ul.menu {
  list-style-type: none;
}

nav ul.menu li {
  display: inline-block;
  margin-right: 20px;
}
nav ul.menu li a:hover {
  background-color: #ecf3ff;
  border-radius: 100px;
}
nav ul.menu li:hover .dropdown-content {
  display: flex;
}
nav ul.menu li a {
  color: #0f234c;
  text-decoration: none;
  font-size: 14px;
  padding: 6px 12px;
}
.new-tag {
  padding: 4px 10px;
  position: relative;
  top: 3px;
  left: -5px;
  font-size: 10px;
  color: #3057a7;
  font-weight: 700;
}
.cat-menu a:hover + .new-tag {
  background-color: #ecf3ff;
  border-radius: 50px;
}
.dropdown-content {
  position: absolute;
  padding: 3rem 0 1rem 5rem;
  display: none;
  width: 100%;
  left: 0;
  margin-top: 10px;
  background-color: #fff;
  z-index: 9999;
}
.dropdown-content .sub-category ul li {
  display: block;
  margin: 20px 0;
}
.dropdown-content .sub-category ul li a {
  font-size: 18px;
  padding: 0;
}
.dropdown-content .sub-category ul li a:hover {
  color: #3057a7;
  background: none;
}
.dropdown-grid {
  flex: 1;
}
.dropdown-grid h3 {
  font-size: 18px;
  margin-bottom: 20px;
}
.p-grid {
  display: flex;
}
.p-grid .p-item {
  flex: 1;
  padding: 10px;
  margin-right: 15px;
  background-color: #f2f2f2;
}
.p-tag {
  font-size: 8px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1.6px;
  color: #828282;
  text-transform: uppercase;
}
.p-name {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: 27px;
  color: #0f234c;
  text-transform: capitalize;
}
.p-price {
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 21px;
  color: #3057a7;
}
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  height: 2px;
  width: 25px;
  background-color: #0f234c;
  margin: 3px 0;
  transition: transform 0.3s ease-in-out;
}

.menu-toggle.active span:nth-child(1) {
  transform: rotate(-45deg) translate(0, 5px);
}

.menu-toggle.active span:nth-child(2) {
  display: none;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(45deg) translate(0, -5px);
}

.top-header {
  background-color: #0f234c;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #fff;
}
.top-header p {
  flex: 1;
  text-align: center;
}

.close-btn {
  cursor: pointer;
  margin-left: auto;
}
.tabs {
  display: flex;
  margin-bottom: 20px;
}
a.play-box::after {
  content: url(./images/after.png);
  margin-left: 10px;
}
.tab {
  padding: 2px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 18px;
}
.tab.active {
  color: #3057a7;
  border-bottom: 2px solid #3057a7;
}
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
.play-box-grid {
  display: flex;
  flex-wrap: wrap;
}
.play-box-grid .item {
  flex: 0 0 calc(30% - 20px);
  margin: 10px;
  text-align: center;
}

.play-box-grid .item:hover {
  color: #3057a7;
  cursor: pointer;
}
.play-box-grid .item:hover img {
  transition: transform 0.3s;
  transform: rotate(15deg);
  border-color: #3057a7;
}
.play-box-grid .item img {
  padding: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #eeedeb;
}

@media only screen and (max-width: 768px) {
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: block !important;
  }
  header .bottom-header {
    justify-content: space-between;
  }
  .menu {
    display: none;
  }
  .menu-toggle {
    display: flex !important;
  }
  .p-grid {
    overflow: hidden;
  }
  .p-grid .p-item {
    min-width: 150px;
  }
  .p-slider {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
.product-slider-section {
  position: relative;
}

.product-slider-section h3 {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -0.03em;
}
.p-slider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 20px;
  opacity: 0;
}
.p-slider.active {
  opacity: 1;
  position: absolute;
  top: 0;
}
.g-item {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.p-footer {
  margin-top: auto;
}
.video-element {
  height: 100%;
}
.video-element img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.p-accordian {
  margin: 25px 0;
}
.accordion {
  font-family: "Roboto";
  color: #ccceb7;
  cursor: pointer;
  font-weight: 500;
  padding: 15px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  transition: 0.4s;
  background: none;
  border-top: 1px solid #ccceb7;
}

.accordion:hover,
.accordion:active {
  color: #212121;
}

.panel {
  padding-bottom: 15px;
  display: none;
  overflow: hidden;
}
.p-footer h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  letter-spacing: -0.03em;
}
.p-footer p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  color: #212121;
}

/* Mobile Menu */
#mobile-menu {
  position: absolute;
  padding: 0 20px;
  background: #fff;
  z-index: 99;
  width: 100%;
}
#mobile-menu .sale-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sale-header h3 {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 22px;
}
.sale-header .s-btn {
  font-size: 10px;
  font-weight: 400;
  line-height: 21px;
  color: #3057a7;
}
img {
  width: 100%;
  height: auto;
}
.m-menu ul {
  position: relative;
  list-style: none;
  margin-top: 2rem;
}
.m-menu ul li {
  padding: 15px 0;
  border-bottom: 1px solid #ecf3ff;
}
.m-menu ul li a {
  text-decoration: none;
}
.m-menu ul li:last-child {
  border-bottom: none;
}
.m-menu ul li:last-child::after {
  content: none;
}
.m-menu ul li::after {
  content: url(../images/arrow.png);
  position: absolute;
  right: 0;
}
.m-sub-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  overflow: none;
  padding: 10px 20px;
}
.m-sub-menu .sub-menu {
  display: flex;
  justify-content: space-between;
}
.m-sub-menu .left-header {
  display: flex;
  align-items: center;
}
.m-sub-menu .left-header img {
  margin-top: 5px;
  height: 15px;
  width: auto;
  margin-right: 15px;
}
